body{
    background-color: #575555;
}

.slider{
    min-width: 100vw;
    height: 50%;
}



/* style for the navbar */
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: #383737;
    padding: 0 2% 0 2%;

}

li{
   float: left;
}

li a {
   display: block;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   color: white;
}

li a:hover:not(.active) {
   background-color: rgb(24, 3, 148);
}

.navbar{

   width: 100vw;
   position:fixed;
}